.social {
  z-index: 998;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 75px;
  margin-left: 65px;

  @media screen and (max-width: 768px) {
    z-index: 999;
    position: absolute;
    right: 15px;
    left: auto;
    top: auto;
    bottom: 0;
    margin-top: 0;
    margin-left: 0;
    list-style-type: none;
  }

  ul {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  li {
    margin: 0px;
    display: flex;
    margin-bottom: 0px;
    border-radius: 100%;
    padding: 0px;
    width: 40px;
    height: 40px;
    list-style-type: none;
    margin-right: 5px;

    @media screen and (max-width: 768px) {
      margin: 0px;
      display: flex;
      margin-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.302);
      border-radius: 100%;
      padding: 0px;
      width: 40px;
      height: 40px;
    }
  }

  li a {
    text-decoration: none;
    fill: transparent;
    color: rgba(255, 255, 255, 0.50);
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: 10px 10px;
    cursor: none;

    @media screen and (max-width: 768px) {
      text-decoration: none;
      fill: transparent;
      color: rgba(255, 255, 255, 0.50);
      display: inline-block;
      position: relative;
      line-height: 1;
      padding: 9px 9px;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.90);
      cursor: none;
      transform: translateY(-3px);

      svg {
        color: rgba(255, 255, 255, 0.50);
        transition: all 0.3s ease;
        cursor: none;
      }
    }

    svg {
      fill: transparent;
      color: rgba(255, 255, 255, 0.50);
      width: 23px;
      height: 23px;
      cursor: none;
    }
  }
}