.contact-input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.contact-input:focus {
  outline: none;
  border-color: #ffffff !important;
}

.contact-input:-webkit-autofill,
.contact-input:-webkit-autofill:hover,
.contact-input:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
} 