.header {
  position: relative;
  width: 100%;
  grid-area: header;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  border-radius: 0px;
  padding-top: 10px;
  background-color: transparent;
  .header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;
    align-items: center;
    .name {
      font-size: 28px;
      color: white;
      align-items: center;
      text-align: center;
    }
    .title {
      font-size: 11px;
      color: white;
      text-align: center;
    }
  }
}
