.about_container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;

  @media screen and (max-width: 1080px) {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 30px;
  }

  .about {
    max-width: 800px;
    width: 100%;
    height: 600px;
    clear: both;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    background-color: #00000015;
    border: solid 1px white;

    @media screen and (max-width: 1080px) {
      height: 100%;
      width: 100%;
      margin: 0px;
      border: transparent;
      margin-top: -80px;
    }

    .left_div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      padding-left: 20px;
      padding-right: 10px;
      height: 100%;

      @media screen and (max-width: 1080px) {
        width: 100%;
        padding: 20px;
        margin: 0 auto;
      }

      .about_title {
        margin-top: 0px;

        h3 {
          font-size: 3rem;
          font-weight: 600;
          color: white;

          @media screen and (max-width: 1080px) {
            font-size: 1.5rem;
            margin-left: -3px;
          }
        }
      }

      .info {
        width: 100%;
        float: center;
        color: white;

        @media screen and (max-width: 1080px) {
          margin-top: 10px;
          width: 100%;
          padding-left: 0px;
        }

        p {
          font-size: 0.85rem;
          max-width: 90%;

          @media screen and (max-width: 1080px) {
            margin-top: 0px;
            font-size: 0.8rem;
            line-height: 1.4;
            max-width: 100%;
          }
        }

        .skills {
          width: 100%;
          display: flex;
          padding-top: 20px;
          flex-wrap: wrap;
          margin: 13px -20px 20px;

          @media screen and (max-width: 1080px) {
            margin: 13px -10px 20px;
            padding-top: 0px;
          }

          .progress_inner {
            width: 50%;
            padding: 0 20px;
            margin-bottom: 10px;

            @media screen and (max-width: 1080px) {
              width: 50%;
              padding: 0 10px;
              margin-bottom: 5px;
            }

            .label {
              font-size: 0.85rem;
              font-weight: 700;
              color: #ffffff;
              margin-bottom: 10px;
              display: inline-block;

              @media screen and (max-width: 1080px) {
                font-weight: 600;
                font-size: 0.8rem;
                margin-bottom: 3px;
                margin-left: 2px;
              }
            }

            .full_bar {
              width: 100%;
              min-width: 100%;
              position: relative;
              height: 13px;
              border: 1px solid #ffffff50;
              border-radius: 5px;
              padding: 1.5px;

              .bar {
                height: 100%;

                .bar_inner {
                  height: 100%;
                  background: #ffffffc4;
                  border-radius: 5px;
                  overflow: hidden;
                }
              }
            }
          }
        }

        .button {
          display: flex;
          justify-content: left;
          padding: 0;

          .learn_more {
            width: auto;
            text-decoration: none;
            border-radius: 5px;
            font-weight: 400;
            color: white;
            background: rgba(255, 255, 255, 0);
            border: 1px solid white;
            margin: 5px;
            font-size: 0.80rem;
            padding: 8px 15px;
            margin-left: 0px;

            @media screen and (max-width: 767px) {
              width: auto;
              font-size: 0.9rem;
              padding: 0.5rem 1.5rem;
              ;
              margin-top: 0px;
            }

            &:hover {
              transform: translateY(-5px);
              background: rgb(0, 0, 0);
              color: rgb(255, 255, 255);
              border-color: rgb(0, 0, 0);
            }
          }
        }
      }
    }

    .right_div {
      width: 40%;
      height: 100%;
      padding-left: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 20px;

      @media screen and (max-width: 1080px) {
        display: none;
      }

      .image {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
          opacity: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
        }

        .main {
          height: 60%;
          position: absolute;
          top: 0px;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: auto;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          border-radius: 20px;
        }
      }
    }
  }
}

.custom-modal.about-popup-wrapper {
  .box_inner {
    width: 1070px;
    border: solid 2px white;
    border-radius: 10px;
    background-color: #00000075;

    @media screen and (max-width: 1199px) {
      width: 900px;
    }

    @media (max-width: 992px) {
      width: 700px;
    }

    @media (max-width: 1080px) {
      width: 560px;
    }

    @media (max-width: 599px) {
      width: 460px;
    }

    @media (max-width: 490px) {
      width: 360px;
    }

    @media (max-width: 420px) {
      width: 320px;
    }
  }

  .modalbox .description_wrap {
    padding: 20px;
  }
}

.about-popup-wrapper {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }

  .col-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 50px;
    flex: 0 0 auto;
    width: 50%;
  }

  h3 {
    font-size: 28px;
    margin-top: -30px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    display: inline-block;
    color: white;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    .title {
      font-size: 15px;
      color: rgb(190, 190, 190);
      font-weight: 500;
      text-transform: capitalize;
    }

    .value {
      font-size: 15px;
      font-weight: 500;
      color: white;
    }

    li {
      flex: 0 0 50%;
      max-width: 100%;
      font-size: 15px;

      &:not(:last-child) {
        padding-bottom: 10px;
      }
    }
  }
}

.resume-box {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    padding: 0 20px 0 60px;
    margin: 0 0 50px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      bottom: 0;
      border-left: 1px solid #ddd;
    }
  }

  .icon {
    width: 45px;
    height: 45px;
    position: absolute;
    left: 0;
    right: 0;
    line-height: 38px;
    text-align: center;
    z-index: 1;
    border-radius: 100%;
    color: #fff;
    background-color: #000000;
    background-size: contain;

    img {
      border-radius: 100%;
    }
  }

  h5 {
    font-size: 16px;
    margin: 0px;
    color: white;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.1;

  }

  .place {
    opacity: 0.6;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    padding-left: 0px;
  }
}

.achievements-wrapper {
  margin: 0;
  padding: 0;

  .box-stats {
    padding: 10px 10px 15px 15px;
    border-radius: 15px;
    border: 1px solid #ddd;

    h3 {
      position: relative;
      display: inline-block;
      margin: 0;
      font-size: 35px;
      font-weight: 600;
      border: none;
      padding: 0;
      color: white;

      &::after {
        content: "+";
        position: absolute;
        right: -24px;
        font-size: 35px;
        font-weight: 300;
        top: 2px;
      }
    }

    p {
      position: relative;
      padding-left: 45px;
      font-size: 14px;
      line-height: 1.2;
      color: white;

      @media (max-width: 599px) {
        padding-left: 0;

        &::before {
          display: none;
        }
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 30px;
        height: 1px;
        background: #88888b;
      }
    }
  }

  .col-6 {
    margin-top: 0;
    margin-bottom: 20px;

    @media (max-width: 1080px) {
      flex: 0 0 auto;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .about-popup-wrapper {
    .description_wrap {
      >.row>.col-6 {
        width: 100%;
        margin-top: 0;
        padding-right: 10px;
        padding-left: 10px;
      }
    }

    h3 {
      margin-top: 0px;
      margin-bottom: 10px;
      padding-bottom: 0px;
    }

    .about-list {
      .title {
        font-size: 13px;
      }

      .value {
        font-size: 13px;
        word-break: break-all;
        padding-right: 10px;
      }

      li {
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 10px;

        &:not(:last-child) {
          padding-bottom: 10px;
        }
      }
    }
  }

  .resume-box {
    li {
      position: relative;
      padding: 0 0px 0 60px;
      margin: 10px 0 30px;
    }

    .icon {
      width: 40px;
      height: 40px;
    }

    .time {
      font-size: 12px;
      padding: 3px 10px;
      border-radius: 5px;
      margin-left: -11px;
    }

    h5 {
      font-size: 15px;
      line-height: 1.2;
    }

    p {
      margin-top: 15px;
      font-size: 12px;
      line-height: 1.1;
    }

    .place {
      font-size: 14px;
      line-height: 1.1;
    }
  }

  .achievements-wrapper {
    h3 {
      margin-top: 30px;
    }

    .box-stats {
      padding: 20px;
      border-radius: 14px;
      border: 1.5px solid #d4d4d4;

      p {
        font-size: 14px;
        line-height: 1.2;
      }
    }

    .row {
      padding: 0px;
      margin-top: 10px;

      .col-6 {
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
      }
    }
  }

  .custom-modal.about-popup-wrapper .modalbox .description_wrap {
    padding: 10px;
    margin: 0px;
  }

  .close-modal {
    top: 10px;
    right: 10px;
  }
}