.blog_container {
  width: 100%;
  margin: 0 auto;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 768px) {
    position: absolute;
    height: calc(var(--vh, 1vh) * 100);
    top: 55px;
    bottom: 0px;
  }

  .blog {
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;

    @media screen and (max-width: 768px) {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 7px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .carousel_container {
      width: 100%;
      display: grid;
      position: relative;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      align-items: center;
      justify-content: center;
      gap: 10px;
      overflow: -moz-hidden-unscrollable;
      overflow-x: hidden;

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        overflow-y: auto;
        padding: 20px 5px;
        padding-bottom: 200px;
        height: 95%;
      }

      &.transition-enabled {
        transition: transform 0.3s ease-in-out;
      }

      .carousel {
        display: flex;
        margin: 0 auto;
        align-items: center;
        border-radius: 20px;
        max-width: 320px;
        height: 220px;
        background-color: rgba(0, 0, 0, 0.25);
        border: 1px solid #d5d5d5;
        transition: background-color 0.3s ease-in-out;

        @media screen and (max-width: 768px) {
          width: 90%;
          max-width: 1020px;
        }

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .image_container {
          width: 50%;
          height: 100%;
          display: flex;
          z-index: 2;
          border-right: 1px solid #d5d5d5;

          a {
            fill: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;

            .image {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 20px 0px 0px 20px;
            }

            &:hover .image,
            a {
              cursor: none;
            }
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

        }

        .info_container {
          width: 50%;
          height: 100%;
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 10px;
          background-color: #00000007;

          .info_top {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .info_top_inner {
              @media screen and (max-width: 768px) {
                height: auto;
              }

              .title {
                font-size: 12px;
                margin: 0;
                padding: 0;
                line-height: 1.1;
                color: white;
                height: 26px;
                overflow-y: hidden;

                @media screen and (max-width: 768px) {
                  font-size: 0.7rem;
                  height: 1.5rem;
                  overflow: hidden;
                }
              }

              .date,
              .domain,
              .category,
              .stack {
                font-size: 0.55rem;
                margin: 1px 0;
                color: white;

                @media screen and (max-width: 768px) {
                  font-size: 0.55rem;
                  overflow: hidden;
                }
              }

              .date {
                margin-top: 5px;
                margin-bottom: -5px;
              }

              .domain a {
                text-decoration: none;
                color: rgb(81, 81, 81);
                cursor: none;
              }

              .category {
                display: flex;
                font-weight: 500;
                margin-top: 0px;

                .category {
                  margin-right: 5px;
                }

                &.Web {
                  background-color: #726bff;
                  padding: 2px;
                  color: white;
                }

                &.Frontend {
                  background-color: #069bd6;
                  padding: 2px;
                  color: white;
                }

                &.Backend {
                  background-color: #620faf;
                  padding: 2px;
                  color: white;
                }

                &.Artificial {
                  background-color: #000000;
                  padding: 2px;
                  color: white;
                }

                &.Marketing {
                  background-color: #118ab2;
                  padding: 2px;
                  color: white;
                }

                &.Music {
                  background-color: #ef476f;
                  padding: 2px;
                  color: white;
                }
              }
            }
          }

          .description {
            font-size: 10px;
            margin-top: 10px;
            overflow: hidden;
            color: white;

            @media screen and (max-width: 768px) {
              margin-top: 5px;
              font-size: 0.55rem;
              overflow: scroll;
              height: auto;
            }
          }
        }
      }
    }

    .page-change-icon {
      transform: translateY(-50%);
      width: 25px;
      height: 25px;
      padding: 0px;
      margin: 0 10px;
      background-color: transparent;
      color: white;
      cursor: none;
      z-index: 3;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }

      &:hover a {
        cursor: none;
      }

      @media screen and (max-width: 768px) {
        width: 20px;
        height: 20px;
        padding: 2px;
        margin: 0;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    z-index: 99;
    padding: 20px;

    .dot {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #ccc;
      margin: 0 5px;
      cursor: none;

      @media screen and (max-width: 768px) {
        width: 8px;
        height: 8px;
        margin: 0 4px;
        border-radius: 100%;
      }
    }

    .dot.active {
      background-color: #000;
    }

    .dot:hover {
      background-color: #aaa;
    }

    .dot:focus {
      outline: none;
      box-shadow: 0 0 0 2px #000;
    }

    .dot:active {
      transform: scale(1.1);
    }
  }
}

.blog_container::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: 0;
  width: 100%;
  height: 40px;
  border-radius: 0;
}

.glowing-effect {
  animation: glowing 1s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fff;
  }

  50% {
    box-shadow: 0 0 20px #fff;
  }

  100% {
    box-shadow: 0 0 5px #fff;
  }
}