.contact_container {
  width: 100%;
  height: 100vh;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 30px;
  }

  .contact {
    width: 100%;
    max-width: 800px;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;

    @media screen and (max-width: 768px) {
      height: 60%;
      margin-top: -80px;
      padding: 0 15px;
    }

    .title {
      margin-bottom: 0px;

      h3 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 25px;
        line-height: 1;
        margin-left: 0px;
        color: white;

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }

    .form_container {
      width: 100%;
      max-height: 800px;
      clear: both;
      display: flex;

      @media screen and (max-width: 768px) {
        max-height: 500px;
      }

      .form {
        width: 100%;
        background-color: #00000015;
        padding: 30px 30px 30px 30px;
        border-radius: 8px;
        border: solid 1px white;

        @media screen and (max-width: 768px) {
          width: 100%;
          padding: 30px 20px;
          margin-top: -10px;
        }

        .caption {
          width: 100%;
          float: left;
          margin-left: 0px;

          p {
            font-size: 1rem;
            line-height: 1.2;
            margin-bottom: 40px;
            color: rgba(255, 255, 255, 0.652);

            @media screen and (max-width: 768px) {
              font-size: 0.85rem;
              padding: 0 2px;
            }
          }

          span {
            font-weight: 500;
            color: #ffffff;
          }
        }

        .fields {
          width: 100%;
          height: auto;
          clear: both;
          float: left;
          padding: 0px;
          margin: 0 auto;
          margin-top: -30px;

          .contact_form {
            width: 100%;

            .name,
            .email,
            .message {
              width: 100%;
              margin-bottom: 0px;

              input {
                width: 100%;
                height: 40px;
                border: none;
                border-bottom: 1px solid #ffffff;
                background-color: transparent;
                font-size: 0.85rem;
                color: #ffffff;
                letter-spacing: 0.5;
                font-weight: 400;
                padding-left: 7px !important;

                @media screen and (max-width: 768px) {
                  font-size: 0.75rem;
                }
              }

              input:focus {
                outline: none;
                border-bottom-color: #ffffff;
                background-color: rgba(255, 255, 255, 0.315);
                color: rgb(255, 255, 255);
              }

              textarea {
                margin-top: 20px;
                width: 100%;
                height: 220px;
                border: solid 1px #ffffff50;
                border-radius: 5px;
                background-color: transparent;
                font-size: 0.85rem;
                color: #ffffff;
                font-weight: 400;
                letter-spacing: 0.5;
                resize: none;
                padding-left: 7px !important;

                @media screen and (max-width: 768px) {
                  margin-top: 20px;
                  font-size: 0.75rem;
                  height: 140px;
                }
              }

              textarea:focus {
                outline: none;
                border-bottom-color: #ffffff;
                background-color: rgba(255, 255, 255, 0.315);
                color: rgb(255, 255, 255);
              }
            }

            .button {
              width: 100%;
              float: left;
              clear: both;

              button {
                margin-top: 20px;
                color: white;
                font-weight: 500;
                font-size: 1rem;
                padding: 8px 20px;
                display: inline-block;
                border-radius: 10px;
                transition: all 0.3s ease;
                background-color: rgba(255, 255, 255, 0);
                border: 1px solid white;

                @media screen and (max-width: 768px) {
                  width: auto;
                  font-size: 0.9rem;
                  padding: 0.5rem 1.5rem;
                  ;
                  margin-top: 20px;
                }
              }

              button:hover {
                color: white;
                background-color: rgb(0, 0, 0);
                border-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}

/* Placeholder text color for input fields */
input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  /* Adjust the color and opacity as needed */
  opacity: 1;
  /* Ensures the color is applied consistently across browsers */
}

/* Placeholder text color for the textarea */
textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
  /* Adjust the color and opacity as needed */
  opacity: 1;
  /* Ensures the color is applied consistently across browsers */
}