.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 0px;
  padding: 0px;

  @media screen and (max-width: 768px) {
    position: absolute;
    height: 100vh;
    top: 0;
    bottom: 0px;
  }

  .content {
    margin: 0 auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;

    @media screen and (max-width: 768px) {
      height: 60%;
      margin-top: -50px;
    }

    .home_header {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;

      .photo_container {
        margin-bottom: 10px;

        .photo {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .title {
        font-size: 28px;
        color: white;
        align-items: center;
        text-align: center;
        font-weight: 500;
      }

      .description {
        font-size: 12px;
        color: white;
        text-align: center;
        font-weight: 500;
      }
    }


    .text {
      width: 190px;
      font-size: 0.8rem;
      margin: 0px auto 25px auto;
      line-height: 1.2;

      @media screen and (max-width: 768px) {
        margin-top: 0px;
        bottom: 0;
        text-align: center;
        margin-left: 0px;
        font-size: 1.2rem;
        color: white;
        font-weight: 700;
        width: 200px;
        line-height: 1.5;
        margin-bottom: 10px;
      }
    }

    .button_container {
      margin-top: 10px;
      display: flex;
      flex-wrap: space-between;
      padding: 0;
      width: 0px;
      border: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .portfolio_button,
      .resume_button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2px 0;
        flex: 1;
        border: 1px solid black;
        border: none;
        background: transparent;
        margin: 0;
        margin-bottom: 5px;
        width: 360px;
        height: 20px;

        button {
          border-radius: 10px;
          margin: 5px;
          width: 95%;
          text-decoration: none;
          font-weight: 400;
          color: white;
          background: transparent;
          font-size: 0.95rem;
          padding: 1rem;
          border: 2px solid white;
        }

        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}